.heroSection {
    text-align: center;
    padding: 50px 40px;
}

.heroSection img {
    width: 100%;
    max-width: 3000px;
    height: 400px;
    display: block;
    margin: 0 auto;
    border: 2px solid #333;
    /* Dark border around the hero image */
    border-radius: 8px;
    /* Rounded corners for the hero image */
    object-fit: contain;
}

.section-1 {
    text-align: justify;
    padding: 10px 5%;
    margin-bottom: 5rem;
}

.hero-content{
    margin-bottom: 5rem;
}

.hero-content p {
    line-height: 40px;
    font-size: 18px;
}

.button-index {
    font-family: var(--font-plus-jakarta-sans);
    background-color: var(--navbar-blue);
    color: var(--color-white);
    cursor: pointer;
    border: none;
    padding: 0.75rem 1.25rem;
    font-size: 20px;
    margin: 0;
}

.button-index:focus {
    background-color: var(--color-white);
    color: var(--navbar-blue);
    border: solid 1px #A6A6A7;
}

.underline {
    border: none;
    border-top: 1px solid #A6A6A7;
    margin-top: -1px;
}

.section-2{
    margin-bottom: 5rem;
}

.myButton {
    background-color: #C7BFD1;
    /* Green */
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.lab-container {
    padding: 10px 5%;
}

.buttons {
    display: flex;
    padding: 0;
    gap: 25px;
    justify-content: center;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards {
    display: flex;
    padding: 0;
    gap: 25px;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 15px;
}

.hero-choice {
    display: flex;
}

.welcome-heading {
    text-align: center;
    padding: 10px;
    color: #331a53;
    margin-top: 4rem;
}

.welcome-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    column-gap: 3rem;
    background-color: #F2E8FE;
    border-radius: 20px;
}

.welcome-holder p { 
    line-height: 40px;
    font-size: 18px;
}

.hod-img {
    width: 15%;
    border-radius: 100%;
    border: 3px solid #331a53;
}

.lab-header {
    width: 100%;
    background-color: #331a53;

}

.lab-header h1 {
    color: white;
    padding: 10px;
    margin-left: 2%;
}