<link rel="stylesheet" href="/css/Carousel.css">

<div class="carousel">
    <div class="carousel-images">
        <div class="carousel-image" style="display: block; background-image: url('/cintel.jpg');"></div>
        <div class="carousel-image" style="background-image: url('/operating-system-t.jpg');"></div>
        <div class="carousel-image" style="background-image: url('/cintel.jpg');"></div>
    </div>
    <div class="carousel-nav">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>

<script src="../static/Carousel.js"></script>