<link rel="stylesheet" href="/css/Footer.css" type="text/css" />
<link rel="stylesheet" href="/css/global.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer class="bottom" id="footer">
    <div class="background-rectangle">
        <div class="footer-content-left">
            <img src="/SRM_map.png" class="footer-img" alt="SRMIST Logo" />

        </div>
        <div class="footer-divider"></div>
        <div class="footer-content-right">
            <div class="contact-us">
                <h1>Contact us</h1>
                <p>Department Of Computational Intelligence<br />
                    Univeristy Block,<br />
                    SRM Institute of Science and Technology,Kattankulathur – 603203</p>
                <p><i class="fas fa-phone"></i>&nbsp; 044 27417838/044 27417878</p>
                <a href="mailto:hod.cintel.ktr@srmist.edu.in"><i class="fas fa-envelope-open"></i> &nbsp;hod.cintel.ktr@srmist.edu.in</a>
            </div>

        </div>
    </div>
</footer>