<link rel="stylesheet" href="/css/Footer.css" type="text/css" />
<link rel="stylesheet" href="/css/global.css" type="text/css" />

<footer class="bottom" id="footer">
<div class="background-rectangle"></div>
</footer>