<link rel="stylesheet" href="/css/Header.css" type="text/css" />
<link rel="stylesheet" href="/css/global.css" type="text/css" />
<nav class="nav">
    <div class="nav-child"></div>
    <div class="frame-set"></div>
    <img class="logo-icon" loading="eager" alt="" src="/SRM-logo.png" />
    <div class="nav-tab-frame">
        <div class="home"><a href='/' class="no-decoration">Home</a></div>
    </div>
    <!-- <div class="nav-tab-frame">
        <div class="simulations"><a href='/Simulations' class="no-decoration">Simulations</a></div>
    </div> -->
    <div class="nav-tab-frame">
        <div class="about-us"><a href='/About-Us' class="no-decoration">About-Us</a></div>
    </div>
    <div class="nav-tab-frame">
        <div class="contact"><a href='/Contact' class="no-decoration">Contact</a></div>
    </div>
</nav>